$text-color-first: #212121;
$text-color-second: #757575;
$accent: #2196f3;
$white-text: #ffffff;
$bg1: #2f303a;
$bg2: #e5e5e5;
$bg3: #f5f4fa;
$logo-font: "Raleway", sans-serif;
$font: "Roboto", sans-serif;
$social-color: #afb1b8;
